@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* globals.css */
body {
  /* font-family: "Google Sans", "Noto Sans", sans-serif; */
  /* font-family: "Monomakh", serif;
  font-weight: 400;
  font-style: normal; */
}
